.width-container{
    max-width:960px;
    margin-right:15px;
    margin-left:15px
}
@supports (margin: max(calc(0px))){
    .width-container{
        margin-right:max(15px, calc(15px + env(safe-area-inset-right)));
        margin-left:max(15px, calc(15px + env(safe-area-inset-left)))
    }
}
@media (min-width: 40.0625em){
    .width-container{
        margin-right:30px;
        margin-left:30px
    }
    @supports (margin: max(calc(0px))){
        .width-container{
            margin-right:max(30px, calc(15px + env(safe-area-inset-right)));
            margin-left:max(30px, calc(15px + env(safe-area-inset-left)))
        }
    }
}
@media (min-width: 1020px){
    .width-container{
        margin-right:auto;
        margin-left:auto
    }
    @supports (margin: max(calc(0px))){
        .width-container{
            margin-right:auto;
            margin-left:auto
        }
    }
}



.grid-row{
    margin-right:-15px;
    margin-left:-15px
}
.grid-row:after{
    content:"";
    display:block;
    clear:both
}
.grid-column-one-quarter{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding:0 15px
}
@media (min-width: 40.0625em){
    .grid-column-one-quarter{
        width:25%;
        float:left
    }
}
.grid-column-one-third{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding:0 15px
}
@media (min-width: 40.0625em){
    .grid-column-one-third{
        width:33.3333%;
        float:left
    }
}
.grid-column-one-half{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding:0 15px
}
@media (min-width: 40.0625em){
    .grid-column-one-half{
        width:50%;
        float:left
    }
}
.grid-column-two-thirds{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding:0 15px
}
@media (min-width: 40.0625em){
    .grid-column-two-thirds{
        width:66.6666%;
        float:left
    }
}
.grid-column-three-quarters{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding:0 15px
}
@media (min-width: 40.0625em){
    .grid-column-three-quarters{
        width:75%;
        float:left
    }
}
.grid-column-full{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    padding:0 15px
}
@media (min-width: 40.0625em){
    .grid-column-full{
        width:100%;
        float:left
    }
}
.grid-column-one-quarter-from-desktop{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 15px
}
@media (min-width: 48.0625em){
    .grid-column-one-quarter-from-desktop{
        width:25%;
        float:left
    }
}
.grid-column-one-third-from-desktop{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 15px
}
@media (min-width: 48.0625em){
    .grid-column-one-third-from-desktop{
        width:33.3333%;
        float:left
    }
}
.grid-column-one-half-from-desktop{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 15px
}
@media (min-width: 48.0625em){
    .grid-column-one-half-from-desktop{
        width:50%;
        float:left
    }
}
.grid-column-two-thirds-from-desktop{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 15px
}
@media (min-width: 48.0625em){
    .grid-column-two-thirds-from-desktop{
        width:66.6666%;
        float:left
    }
}
.grid-column-three-quarters-from-desktop{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 15px
}
@media (min-width: 48.0625em){
    .grid-column-three-quarters-from-desktop{
        width:75%;
        float:left
    }
}
.grid-column-full-from-desktop{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 15px
}
@media (min-width: 48.0625em){
    .grid-column-full-from-desktop{
        width:100%;
        float:left
    }
}

.centre {
  text-align: center;
}
